.navbar{
    background-color: #EFE7BC !important;
}

a{
    color: black !important;
}

body{
    background-color: #74BDCB !important;
}

.feher-hatter{
    background-color: white !important;
}

.kep {
    width: 600px;
    height: 500px;
}